<%- include("./links.ejs") %>
<footer class="footer">
    <div class="inner_footer_data">
        <p class="wrapper">Be first to hear about the newest releases, exclusive deals, local events and more!</p>
        <div class="inner_footer_sections">
            <div class="my_accounts">
                <h2>Your Account</h2>
                <h4><a href="">My Accounts</a></h4>
                <h4><a href="">My Orders</a></h4>
                <h4><a href="">Rewards</a></h4>
                <h4><a href="">Payments</a></h4>
            </div>
            <div class="customer_service">
                <h2>Customer Service</h2>
                <h4><a href="">Contact Us</a></h4>
                <h4><a href="">Return</a></h4>
                <h4><a href="">Privacy Policy</a></h4>
                <h4><a href="">Terms & Conditions</a></h4>
                <h4><a href="">FAQ</a></h4>
            </div>
            <div class="shop_india">
                <div class="logo shop_india_container">
                    <h3 class="footer_logo">Shop India</h4>
                    <p class="logo_para">Online Destination for whole family's footware. Shop For Every Occasions</p>
                    <div class="social_media">
                        <i class="fab fa-facebook-f facebook" ></i>
                        <i class="fab fa-google google" ></i>
                        <i class="fab fa-instagram instagram" ></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("./copyright.ejs") %> 
</footer> 