<header>
  <div class="nav">
    <div class="logo">
     <a href="/home"><h3>Shop India</h3></a> 
    </div>
    <form action="/home" class="search">
      <input type="text" placeholder="Search Here..." id="search" autocomplete="off" required/>
      <input type="submit" id="searchbtn" value="search"></input>
  </form>
    <div class="menu">
      <ul>
        <li>
          <a href=""><i class="material-icons heart">favorite</i></a>
        </li>
        <li>
          <a href="/cart"><i class="material-icons cart">shopping_cart</i></a>
        </li>

        <a href="/login" id="signupbtn"><i class="fas fa-sign-out-alt"></i></a>
      </ul>
    </div>
  </div>
</header>