
    <div class="main-container">
        <h1>Deals of the days</h1>
      <div class="hero_container">
        <div class="content-main">
          <h2>SPARKS GO FOR IT</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam non
            iure officiis debitis, rem repellat consequuntur nisi culpa dicta
            repellendus exercitationem obcaecati perspiciatis aspernatur soluta.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit
            reiciendis labore hic pariatur, veniam quam? Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Veniam, quis!
          </p>
          <button id="main-btn">Buy Now!</button>
        </div>
          <div class="main-img">
            <img  src="img/main-logo.png"/>
          </div>
      </div>
    </div>
