<div class="sliding-menu">
    <i class="close fas fa-times"></i>
    <div class="menu_items">
      <a href="#"><h4><i class="fas fa-user-circle"></i>My Account</h4></a>
      <a href="#"><i class="material-icons heart">favorite</i>Wishlist</a>
      <a href="#"><h4><i class="fas fa-tags"></i>Order</h4></a>
      <a href="/cart"><h4> <i class="material-icons cart">shopping_cart</i>Cart</h4></a>
      <a href="/"><h4><i class="fas fa-sign-out-alt"></i>Logout </h4></a>
    </div>

  </div>