<%- include ("../partials/home/links.ejs") %>

<div class="my_cart">
  <%-include("../partials/home/header.ejs") %>
  <div class="cart_container">
    <h2>My Cart</h2>
    <div class="cart_data">
      <div class="cart_item">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          voluptatum laborum labore, itaque laudantium quo! Doloribus error
          veritatis fuga at non voluptates laudantium unde eligendi est veniam.
          Dolores, consectetur fugit?
        </p>
      </div>
      <div class="cart_total">
          <h2>1023456</h2>
      </div>
    </div>
  </div>
  <%- include("../partials/home/footer.ejs") %>
</div>
