<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<%- include ("../partials/home/links.ejs") %>
<body>
<%-include("../partials/home/header.ejs") %>
<%-include("../partials/home/slidehomemenu.ejs") %>

<div class="my_cart">
  <div class="cart_container">
    <h2>My Cart</h2>
    <div class="cart_data">
      <div class="cart_item">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          voluptatum laborum labore, itaque laudantium quo! Doloribus error
          veritatis fuga at non voluptates laudantium unde eligendi est veniam.
          Dolores, consectetur fugit?
        </p>
      </div>
      <div class="cart_total">
          <h2>1023456</h2>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/home/footer.ejs") %>
</body>
</html>