<%- include ("../partials/home/links.ejs") %> 

<div class="wrapper email-notfound">
        <img src="img/notsame.png" alt="">
        <h2>Password is not Matching</h2>
    <a class="backbtn" href="/login">Back to login Page</a>
</div>