<%- include ("../partials/home/links.ejs") %> 

<div class="wrapper email-notfound">
    <img src="img/successM.gif" alt="">
    <h2>Registration SuccessFull</h2>
    <a class="backbtn" href="/login">Back to login Page</a>
</div>