<div class="header">
    <div class="hamberger">
        <i id="menu" class="fas fa-bars"></i>
    </div> 
    <div class="search">
        <form>
            <input type="text" placeholder="Search Here..." id="search" autocomplete="off" required/>
            <input type="submit" id="searchbtn" value="search"></input>
        </form>
    </div>
    <div class="avatar">
        <img src="" alt="profile_photo">
    </div>
</div>