<div class="mini_inner">
    <div class="displayData">
        <div class="data online_user">
            <i class="far fa-user icon"></i>
            <h4>Online user</h4>
        </div>
        <div class="data new_user">
            <i class="fas fa-users icon"></i>
            <h4>New users</h4>
        </div>
        <div class="data order">
            <i class="fas fa-shopping-bag icon"></i>
            <h4>Order</h4>
        </div>
        <div class="data payment">
            <i class="far fa-credit-card icon"></i>
            <h4>Total Income</h4>
        </div>
    </div>
</div>