<div id="sidemenu" class="sidemenu">
    <h2>Shop India</h2>
    <ul>
        <li><a href="/admin"><i class="fas fa-home"></i><span>Dashboard</span></a></li>
        <li><a href="/admin/upload"><i class="fas fa-cloud-upload-alt"></i><span>Upload Item</span></a></li>
        <li><a href=""><i class="fas fa-envelope"></i><span>Message</span></a></li>
        <li><a href=""><i class="fas fa-question-circle"></i><span>Help</span></a></li>
        <li><a href="/"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
    </ul>
</div> 